body {
  background-image: url('background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

section {
    background: rgba(255, 255, 255, 0.15); /* fundo branco com transparência */
    border-radius: 16px;
    /*padding: 2rem;*/
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px); /* efeito de desfoque */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* sombra leve */
}